<footer>

    <!--<div fxFlexFill>{{ 'footer.appName' | translate }} |-->
        <!--{{ 'footer.copyright' | translate }} |<i class="material-icons">visibility</i>-->

    <!--</div>-->

    <mat-toolbar>
        <div class="footer-center">
            {{ 'footer.appName' | translate }} |
            {{ 'footer.copyright' | translate }} |
            {{ 'footer.version' | translate }}
            </div>
        </mat-toolbar>

        <!--<mat-toolbar>-->
    <!--<div layout="row" layout-align="center center" flex>-->
    <!--HEADER INFO-->
    <!--</div>-->
    <!--</mat-toolbar>-->
</footer>
