.form-container {
    width: 50%;
}

mat-form-field {
    margin-bottom: 10px;
}

.signup-footer {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 5px;
}

.signup-footer>* {
    margin-left: 10px;
}
